.wd-main {
	width: calc(100% - 70px);
	height: 100%;
	margin-left: 70px;
	margin-bottom: 0;
}

.wd-btn {
    background-color: #e4e4e7;
    min-width: 50px;
    min-height: 35px;
    margin: 5px;
    padding-left: 10px;
     padding-right: 10px;
     border-radius: 2px;
}

.wd-btn-large {
    min-width: 120px;
    min-height: 50px;
}

.wd-btn:hover {
    background-color: #a1a1aa;

}

.wd-btn-success {
    background-color: #d7e6f7;

}

.wd-btn-success:hover {
    background-color: #adc4de;

}

.wd-btn-danger {
    background-color: #d9887c;

}

.wd-btn-danger:hover {
    background-color: #c77367;

}

.wd-input {
    width: 80%;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    min-height: 35px;
    border-radius: 2px;
    padding: 4px;
    padding-left: 8px;
    min-width: 300px;
    max-width: 550px;
    margin-right: 5px;
    margin-left: 5px;

}

.wd-input-small {
    width: 500px;
    max-width: 100%;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    min-height: 35px;
    border-radius: 2px;
    padding: 4px;
    padding-left: 8px;
    margin-right: 5px;
    margin-left: 5px;

}

.wd-title {
	font-family: "Playfair Display", serif;
	font-size: 28pt;
	font-weight: 500;
	color: rgb(131, 110, 90);
}

.wd-sub-title {
	font-family: "Playfair Display", serif;
	font-size: 21pt;
}


.wd-sub-sub-title {
	font-family: "Playfair Display", serif;
	font-size: 16pt;
    margin-top: 6px;
}

.wd-sub-heading {
    font-family: "Playfair Display", serif;
	font-size: 14pt;
}

.wd-dropdown {
    background-color: rgba(0, 0, 0, 0.02);
     box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
    min-height: 35px;
    border-radius: 2px;
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
}




@media screen and (max-width: 600px) {
	.wd-main {
		width: 100%;
		height: calc(100vh - 50px);
		margin-left: 0px;
		margin-bottom: 50px;
        overflow-y:auto;
	}

    .wd-input-small {
    width: 400px;

}
}
