.wd-card {
	border-radius: 5px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	width: 90%;
	display: flex;
	flex-wrap: nowrap;
	margin: auto;
	flex-direction: row-reverse;
	justify-content: start;
    min-height:300px;
    align-items: stretch;
    overflow:hidden;
    /* max-height:fit-content; */

	/* background-color: rgb(88, 73, 73); */
}

.wd-card img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    /* min-height: 100%; */
	border-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.wd-img-container {
    width: 60%;
    
    overflow:hidden;
    min-height: 300px;
    align-items: stretch;
    display: table-cell;

}

.wd-card-title {
    min-height: 300px;
    max-height: fit-content;
}
.wd-recipe-title {
	font-family: "Playfair Display", serif;
	font-size: 24pt;
	font-weight: 500;
	color: rgb(131, 110, 90);
}

.wd-liked-on,
.wd-liked-on svg,
.wd-liked-on p,
.wd-inline-stats,
.wd-inline-stats svg,
.wd-inline-stats p {
	display: inline-block;
	vertical-align: middle !important;
}

.wd-inline-stats {
    padding-top: 5px;
    padding-bottom: 5px;
    color: zinc;
}

@media screen and (max-width: 1000px) {
    
    .wd-img-container {
        width: 100%;
    height: 300px;

}
	.wd-card img {
		width: 100%;
		min-height: 200px;
		border-radius: 0px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	.wd-card {
		flex-direction: column;
	}
}

@media screen and (max-width: 450px) {
	.wd-card {
		width: 100%;
	}

	.wd-liked-on p {
		font-size: 8pt;
	}

	.wd-liked-on svg {
		font-size: 7pt;
	}

    .wd-inline-stats p {
		font-size: 10pt;
	}

	.wd-inline-stats svg {
		font-size: 9pt;
	}
}
