.wd-nav-icon {
	/* color: #5a5c63; */
	margin-bottom: 15px;
}

.wd-nav-icon.active {
	color: rgb(187, 179, 173);
}

.wd-nav-bar {
	/* border-right: 2px solid black; */
	box-shadow: inset -7px 0 9px -10px rgba(0, 0, 0, 0.4);
	width: 70px;
	height: 100vh;
	background-color: white;
	position: fixed;
}

@media screen and (max-width: 600px) {
	.wd-nav-bar {
		/* border-right: 2px solid black; */
		box-shadow: inset 0 7px 9px -10px rgba(0, 0, 0, 0.4);
		width: 100vw;
		height: 50px;
		position: fixed;

		bottom: 0;
		justify-content: space-around;
	}

	.wd-nav-icon {
		margin-bottom: auto;
	}
}
